.home-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    border-width: 1px;
    flex-direction: column;
    padding-bottom: 200px;
    justify-content: flex-start;
    background-image: linear-gradient(180deg, rgb(163, 3, 23) 0.20%,rgb(0, 96, 118) 20.00%);
  }
.home-navbar-interactive {
    width: 100%;
    height: 139px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 96, 112);
    background: rgb(114,0,7);
    background: linear-gradient(0deg, rgba(114,0,7,1) 31%, rgba(0,96,112,1) 100%);
}
.home-desktop-menu {
    flex: 1;
    display: flex;
    justify-content: space-between;
  }
  .home-links {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .home-container01 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .home-text {
    color: #ffffff;
    font-size: 30px;
    margin: 25px;
    text-decoration: none;
    transition: transform 0.5s;
  }
  .home-text:hover{
    transform: scale(1.18);
  }
  a{
    transition: transform 0.5s;

  }
  a:link{
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
  }
    a:hover{
    color: #ffffff;
    text-decoration: none;
  }
  a:visited{
    color: #ffffff;
    text-decoration: none;
  }
  .home-buttons {
    border: 2px dashed rgba(120, 120, 120, 0.4);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .home-icon {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }
  .home-mobile-menu {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    display: none;
    padding: 32px;
    z-index: 100;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
  }
  .home-nav {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-top {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-space-space-threeunits);
    justify-content: space-between;
  }
  .home-logo {
    height: 2rem;
  }
  .home-close-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-icon02 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }
  .home-links1 {
    flex: 0 0 auto;
    display: flex;
    align-self: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-buttons1 {
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .home-login {
    margin-right: var(--dl-space-space-twounits);
  }
  .home-icon04 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
  }
  .home-icon06 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
  }
  .home-icon08 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }
  .home-main {
    flex: 0 0 auto;
    display: flex;
    align-self: center;
    align-items: center;
    padding-left: 120px;
    padding-right: 120px;
    flex-direction: column;
  }
  .home-head{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .home-heading{
    color: #ffffff;
    font-size: 130px;
  }
  .home-part1 {
    width: auto;
    height: 627px;
    display: flex;
    align-self: center;
    align-items: flex-start;
    padding-left: 0px;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
  }
  .home-text08 {
    font-family: cursive;
  }
  .home-text09 {
    color: #ffffff;
    font-size: 50px;
    font-family: 'Limelight', cursive;
    font-style: normal;
    font-weight: 500;
  }
  .home-text14 {
    color: #ffffff;
    font-size: 23px;
    line-height: 38px;
    letter-spacing: 1.6px;
    font-family: 'Josefin Slab', serif;
    font-weight: 20;
    width: 620px;
  }
  .home-container02 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding-top: 35px;
  }
  .home-container03 {
    flex: 0 0 auto;
    width: 200px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .home-text16 {
    color: #ffffff;
    font-size: 20px;
  }
  .home-container04 {
    flex: 0 0 auto;
    width: 200px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-text18 {
    color: #ffffff;
    font-size: 20px;
  }
  .home-container05 {
    flex: 0 0 auto;
    width: 200px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-num{
    color: #ffffff;
    font-size: 35px;
    font-family: 'Limelight', cursive;
  }
  .home-text20 {
    color: #ffffff;
    font-size: 20px;
  }
  .home-mid {
    flex: 0 0 auto;
    display: flex;
    margin-top: 130px;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-img1 {
    width: 1065px;
    height: 594px;
    display: flex;
    align-items: flex-start;
    padding-top: 65px;
    padding-left: 60px;
    border-radius: 45px;
    flex-direction: column;
    background-color: #007691;
  }
  .home-text22 {
    color: #ffffff;
    font-size: 23px;
    padding-top: 13px;
    padding-bottom: 10px;
    letter-spacing: 1.3px;
  }
  .home-image {
    width: 963px;
    height: 350px;
    display: block;
    margin-top: 25px;
    object-fit: cover;
    padding-top: 0px;
    border-radius: 70px;
    image-rendering: auto;
    object-position: center;
    border-top-right-radius: var(--dl-radius-radius-radius4);
    border-bottom-left-radius: var(--dl-radius-radius-radius4);
  }
  .home-img2 {
    width: 100%;
    height: 625px;
    display: flex;
    align-items: stretch;
    padding-top: 35px;
    padding-left: 0px;
    padding-right: 0px;
    justify-content: space-between;
  }
  .home-container06 {
    flex: 0 0 auto;
    width: 480px;
    height: 484px;
    display: flex;
    align-items: flex-start;
    padding-top: 65px;
    padding-left: 60px;
    border-radius: 45px;
    flex-direction: column;
    background-color: #007691;
  }
  .home-text23 {
    font-size: 45px;
  }
  .home-image1 {
    width: 420px;
    height: 255px;
    display: block;
    margin-top: 25px;
    object-fit: cover;
    border-radius: 45px;
    image-rendering: auto;
    object-position: center;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .home-container07 {
    flex: 0 0 auto;
    width: 480px;
    height: 484px;
    display: flex;
    align-items: flex-start;
    padding-top: 65px;
    padding-left: 60px;
    border-radius: 45px;
    margin-bottom: 0px;
    flex-direction: column;
    background-color: #007691;
  }
  .home-text-head {
    color: #ffffff;
    font-size: 45px;
    font-family: 'Limelight', cursive;
  }
  .home-image2 {
    width: 420px;
    height: 255px;
    display: block;
    margin-top: 25px;
    object-fit: cover;
    border-radius: 45px;
    image-rendering: auto;
    object-position: center;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .home-para2 {
    width: 1092px;
    height: 452px;
    display: flex;
    margin-top: 120px;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-container08 {
    flex: 0 0 auto;
    width: 786px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-text31 {
    color: #ebda9f;
    font-size: 50px;
    font-family: 'Limelight', cursive;
  }
  .home-container09 {
    width: 610px;
    height: 156px;
    display: flex;
    align-items: flex-start;
    padding-top: 60px;
  }
  .home-button {
    width: 177px;
    height: 54px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    border-width: 0px;
    padding-left: 2px;
    border-radius: 10px;
    background-color: rgb(131, 214, 189);
  }
  .home-button1 {
    color: #006076;
    width: 210px;
    height: 54px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    margin-left: 25px;
    border-radius: 15px;
  }
  .home-img3 {
    width: 100%;
    height: 276px;
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-image3 {
    width: 180px;

  }
  .home-para3 {
    width: 100%;
    height: 352px;
    margin-top: 220px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-text33 {
    color: #ffffff;
    font-size: 50px;
    font-weight: 400;
    font-family: 'Limelight', cursive;
  }
  .home-container10 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding-top: 55px;
    justify-content: space-between;
  }
  .home-container11 {
    flex: 0 0 auto;
    width: 266px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-text35 {
    color: rgb(245, 244, 244);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
  }
  .home-text36 {
    color: #ffffff;
    font-size: 22px;
    margin-top: 15px;
    font-family: 'Josefin Slab', serif;
    word-spacing: 2px;
    letter-spacing: 1px;
    line-height: 26px;
  }
  .home-container12 {
    flex: 0 0 auto;
    width: 290px;
    height: 208px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-container13 {
    flex: 0 0 auto;
    width: 261px;
    height: 216px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  @media(max-width: 767px) {
    .home-navbar-interactive {
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
    }
    .home-desktop-menu {
      display: none;
    }
    .home-burger-menu {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .home-text03 {
      margin-bottom: var(--dl-space-space-unit);
    }
    .home-text04 {
      margin-left: 0;
      margin-bottom: var(--dl-space-space-unit);
    }
    .home-text05 {
      margin-left: 0;
      margin-bottom: var(--dl-space-space-unit);
    }
    .home-text06 {
      margin-left: 0;
      margin-bottom: var(--dl-space-space-unit);
    }
    .home-text07 {
      margin-left: 0;
      margin-bottom: var(--dl-space-space-unit);
    }
  }
  @media(max-width: 479px) {
    .home-navbar-interactive {
      padding: var(--dl-space-space-unit);
    }
    .home-mobile-menu {
      padding: 16px;
    }
  }
  